<div class="wrapper">
  <div class="flex-row">
    <label for="cpt">Change Percentage Threshold</label>
    <input id="cpt" name="cpt" type="number" [(ngModel)]="CPT" />
  </div>
  <div class="flex-row">
    <label for="highFrequency">High frequency poll (seconds)</label>
    <input id="highFrequency" name="highFrequency" type="number" [(ngModel)]="highFrequency" />
  </div>
  <div class="flex-row">
    <label for="lowFrequency">Low frequency poll (seconds)</label>
    <input id="lowFrequency" name="lowFrequency" type="number" [(ngModel)]="lowFrequency" />
  </div>
</div>

<ul class="wrapper">
  <li class="flex-row titles">
    <div>Last trade time</div>
    <div>Symbol</div>
    <div>Name</div>
    <div>Price / Currency</div>
    <div>Change percentage</div>
  </li>
  <li class="flex-row" *ngFor="let row of data">
    <div>{{ row.last_trade_time }}</div>
    <div>{{ row.symbol }}</div>
    <div>{{ row.name }}</div>
    <div>{{ row.price }} {{ row.currency }}</div>
    <div>{{ row.change_pct }}</div>
  </li>
</ul>

<div class="chart-wrapper" #pieElement></div>